@page "/"
@using Microsoft.Extensions.Hosting
@rendermode InteractiveServer
@inject IHostEnvironment HostEnvironment

<PageTitle>Transformer</PageTitle>

<FluentGrid Spacing="2" Justify="JustifyContent.Center">
    <FluentGridItem xs="4">
        <FluentTextArea @bind-Value=_input style="width: 100%;" Rows="@_rows" Placeholder="Input" Id="input"></FluentTextArea>
    </FluentGridItem>
    <FluentGridItem xs="4">
        <FluentGrid Spacing="3" Justify="JustifyContent.Center">
            <FluentGridItem xs="3">
                <h6>Split</h6>
                <FluentRadioGroup Required="true" @bind-Value=_split Name="split" Orientation="Orientation.Vertical">
                    <FluentRadio Value="@("\\n")" Checked="true">"\n"</FluentRadio>
                    <FluentRadio Value="@("\\t")">"\t"</FluentRadio>
                    <FluentRadio Value="@(" ")">" "</FluentRadio>
                </FluentRadioGroup>
            </FluentGridItem>
            <FluentGridItem xs="3">
                <p>Join</p>
                <FluentRadioGroup Required="true" @bind-Value=_join Name="split" Orientation="Orientation.Vertical">
                    <FluentRadio Value="@(",")">","</FluentRadio>
                    <FluentRadio Value="@(", ")" Checked="true">", "</FluentRadio>
                    <FluentRadio Value="@(",\\n")">",\n"</FluentRadio>
                </FluentRadioGroup>
            </FluentGridItem>
            <FluentGridItem xs="3">
                <p>Brackets</p>
                <FluentButton @onclick="ClearBrackets" Appearance="Appearance.Lightweight" Style="width: 100%;">Clear</FluentButton>
                <FluentRadioGroup @bind-Value="_brackets" Name="split" Orientation="Orientation.Vertical" Immediate="true">
                    <FluentRadio Value="@("()")" Checked="true">(...)</FluentRadio>
                    <FluentRadio Value="@("[]")">[...]</FluentRadio>
                    <FluentRadio Value="@("{}")">{...}</FluentRadio>
                </FluentRadioGroup>
            </FluentGridItem>
            <FluentGridItem xs="3">
                <p>Parentheses</p>
                <FluentButton @onclick="ClearParentheses" Appearance="Appearance.Lightweight" Style="width: 100%;">Clear</FluentButton>
                <FluentRadioGroup Required="false" aria-labelledby="label1" @bind-Value=_parentheses Name="split" Orientation="Orientation.Vertical">
                    <FluentRadio Value="@("\"\"")">"..."</FluentRadio>
                    <FluentRadio Value="@("''")" Checked="true">'...'</FluentRadio>
                </FluentRadioGroup>
                <FluentCheckbox @bind-Value="@_dynamic" Label="Dynamic" />
            </FluentGridItem>
        </FluentGrid>
        <FluentGrid Spacing="3" Justify="JustifyContent.SpaceEvenly">
            <FluentGridItem xs="3">
                <FluentTextField @bind-Value=_split Placeholder="Other" TextFieldType="TextFieldType.Text"></FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="3">
                <FluentTextField @bind-Value=_join Placeholder="Other"></FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="3">
                <FluentTextField @bind-Value=_brackets Placeholder="Other"></FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="3">
                <FluentTextField @bind-Value=_parentheses Placeholder="Other"></FluentTextField>
            </FluentGridItem>
        </FluentGrid>
        <FluentGrid Spacing="3" Justify="JustifyContent.Center">
            <FluentGridItem xs="12" Justify="JustifyContent.Center">
                <FluentButton @onclick="Transform" BackgroundColor="whitesmoke" Color="black" Style="width: 30%;">Transform</FluentButton>
            </FluentGridItem>
        </FluentGrid>
        <hr />
        <FluentGrid Spacing="3" Justify="JustifyContent.Center">
            <FluentGridItem xs="4">
                <FluentButton @onclick="Entity" Appearance="Appearance.Accent" Style="width: 100%;">Db->Class</FluentButton>
            </FluentGridItem>
            <FluentGridItem xs="4">
                <FluentButton @onclick="JsonToXML" Appearance="Appearance.Accent" Style="width: 100%;">JSON->XML</FluentButton>
            </FluentGridItem>
            <FluentGridItem xs="4">
                <FluentButton @onclick="JsonToClass" Appearance="Appearance.Accent" Style="width: 100%;">JSON->Class</FluentButton>
            </FluentGridItem>
        </FluentGrid>
        <FluentGrid Spacing="3" Justify="JustifyContent.Center">
            <FluentGridItem xs="4">
                <FluentButton @onclick="RowToJson" Appearance="Appearance.Accent" Style="width: 100%;">Row->JSON</FluentButton>
            </FluentGridItem>
            <FluentGridItem xs="4">
                <FluentButton @onclick="Schema" Appearance="Appearance.Accent" Style="width: 100%;">Cols->Schema</FluentButton>
            </FluentGridItem>
            <FluentGridItem xs="4">
                <FluentButton @onclick="Clear" BackgroundColor="salmon" Color="black" Style="width: 100%;">Clear</FluentButton>
            </FluentGridItem>
        </FluentGrid>
        <hr />
        <FluentGrid Spacing="3" Justify="JustifyContent.Center">
            <FluentGridItem xs="4">
                <FluentSelect Items=@_snippets
                              OptionText="@(i => i.Name.Substring(2))"
                              OptionValue="@(i => $"{i.Name}\n{i.Code}")"
                              ValueChanged="@(async x => await UpdateUserCode(x))"
                              Width="100%" />
            </FluentGridItem>
            <FluentGridItem xs="4" Justify="JustifyContent.Center">
                <FluentButton @onclick="PreviousJs"
                              Style="width: 48%"
                              Appearance="Appearance.Lightweight"
                              IconStart="@(new Icons.Regular.Size16.ArrowCircleLeft())">Last</FluentButton>
                <FluentButton @onclick="NextJs"
                              Style="width: 48%"
                              Appearance="Appearance.Lightweight"
                              IconEnd="@(new Icons.Regular.Size16.ArrowCircleRight())">Next</FluentButton>
            </FluentGridItem>
            <FluentGridItem xs="4">
                @if (HostEnvironment.IsDevelopment())
                {
                    <FluentButton @onclick="SaveJs"
                                  Appearance="Appearance.Outline"
                                  IconStart="@(new Icons.Regular.Size16.Save())"
                                  Style="width: 100%;">Save</FluentButton>
                }
            </FluentGridItem>
        </FluentGrid>
        <FluentGrid Spacing="3">
            <FluentGridItem xs="12" Justify="JustifyContent.FlexEnd">
                <FluentButton @onclick="JavaScript" BackgroundColor="palegreen" Color="black" Style="width: 30%;">Run JS</FluentButton>
            </FluentGridItem>
        </FluentGrid>
        <FluentGrid Spacing="3" Justify="JustifyContent.Center">
            <FluentGridItem xs="12" Justify="JustifyContent.Center">
                <StandaloneCodeEditor Id="user_code" ConstructionOptions="EditorConstructionOptions" @ref="_editor" />
            </FluentGridItem>
        </FluentGrid>
        <br />
        <FluentGridItem xs="12" Justify="JustifyContent.Center">
            @if (HostEnvironment.IsDevelopment())
            {
                <FluentButton @onclick="DeleteJs"
                              Appearance="Appearance.Outline"
                              Style="width: 30%;">
                    <FluentIcon Value="@(new Icons.Regular.Size16.Delete())" Color="Color.Error" Slot="start" />
                    Delete
                </FluentButton>
            }
        </FluentGridItem>
    </FluentGridItem>
    <FluentGridItem xs="4">
        <FluentTextArea @bind-Value=_output style="width: 100%;" Rows="@_rows" Placeholder="Output" Id="output"></FluentTextArea>
    </FluentGridItem>
</FluentGrid>
<script>
    function runUserScript(userCode) {
        eval(userCode);
    }
    window.getDimensions = function () {
        return window.innerHeight;
    };
</script>